.top-logo{
  padding: 30px;
  padding-left: 60px;
  /*height: auto;
  width: auto;*/
  position: absolute;
  left: 5px;
  top: 5px;
  display: inline-block;
}

.logo-words{
  padding: 20px 20px 20px 10px;
  float: right;
  color: white;
  font-size: large;
}

.logo img{
  top:30%;
  left:40%;
  position: absolute;
  max-width:100%;
  max-height:100%;
  height: auto;

}

.top-logo img {


    width: 50px;
    height: 50px;
}


.main-image img {
    width: 100%;
}







.nav-bar{
  right: 5px;
  top: 5px;
  padding: 30px 60px;
  position: absolute;
  /*right: 0;*/
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    color: white;
    font-size: 80%;
    display: block;
    text-align: center;
    padding: 30px 10px;
    text-decoration: none;
}

li a:hover {
    color: #94C23D;
    background-color: white;
    opacity: 0.5;

}


.figures {
  height: 100%;
  padding: 60px;
  overflow:auto;
}




.quarter {
  float: left;
  width:25%;
  text-align: center;
  color: #94C23D;
  font-size: 3em;
}
.quarter p {
  font-size: 16px;
}



.automation {

  position: relative;
  text-align: center;

}
.home{
  text-align: center;
  width: 100%;
}
.home img {

  width: 100%;

}
.phone img {
  width: auto;
  margin-top: 45px;
}

.phone {
  width: 100%;
  text-align: center;
  position:  absolute;
  bottom: 0;

}
.vesta-button {
  right: 43%;
  top:0

  position: absolute;
}







.button {
  background-color:#94C23D;
  border-radius: 2px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .75em;
  font-family: verto;
  margin: 4px 2px;
  cursor: pointer;
}

#title {
  padding: 80px 20px 20px 20px;

  font-size: 3em;
}
.title-two {
  padding: 60px 20px 20px 20px;

  font-size: 3em;
}

#sub-title{
  font-size: 1.25em
}

.blurb {
  color: black;
  padding: 40px 80px;
    font-size: .75em
}
.blurb-two{
  color: black;
  padding: 30px 80px;
    font-size: .75em
}




.icons{
  color: #94C23D;
  padding: 60px 80px;
   /*overflow:auto;*/

}

.third {
  text-align: center;
  display: inline-block;
  width: 33%;
}
.third img {
  padding: 20px;
}

.row.bottom{
padding-top: 30px;

}
.third.right img {
  position: relative;
  right: 20%;

}
.third.left img {
  position: relative;
  left: 20%;

}
.third.right p {
  position: relative;
  right: 20%;
}
.third.left p {
  position: relative;
  left: 20%;
}


p{
  margin: 8px;
}

body {
  font-family: verto;
}

@font-face {
  font-family: verto;
  src: url(../fonts/verto3.ttf);
}






.heading {


  text-align: center;
  width: 100%;

  margin:0 auto;
  font-family: verto;
  font-weight: 100;
  line-height: 1;
  color: #94C23D;

}






}

.towan {
width: 100%;
height: auto;
position: relative;
  text-align: center;

}
.house img {
  width: 100%

}

.towan-logo {
  width: 100%;
  position: absolute;
  padding-top: 20%;
  text-align: center;

}


.blurb-three{
  width: 100%;
  position: absolute;
  padding-top: 12%;
  text-align: center;
  color: white;

    font-size: .75em
}

.info{
  width: 100%;
  height: 100%;

  display: inline-block;

}
.contact {
  padding : 38px 0px 10px 70px;
  width : 18%;
  float: left;
}
.contact.two {
  padding: 78px 0px 0px 0px;

}

.info p {
    font-size: .75em;
}
.social {
  margin: 8px;
}
#green {
    color: #94C23D;
}

h3 {
  color: #94C23D;
  margin: 8px;
  padding-bottom: 10px;

}
.latest-post{
  padding : 38px 0px 10px 45px;
  width: 40%;
  float: left;
}
.awards {

text-align: right;

padding: 38px 20px 0px;
    float: left;
}

.copyright  {
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: .5em;
  text-align: center;
  width: 100%;
}

.vesta {
  padding-top: 80px;
  width: 100%;


  text-align: center;
}
